<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.CategoriesMapper">

	<cache />

	<select id="selectByParentId" parameterType="int" resultType="Categories">
		select *
		from categories
		where parent_id=#{id}
	</select>

	<select id="selectAll" resultType="Categories">
		select *
		from categories
	</select>

</mapper>