<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.DiningtableMapper">

	<cache />

	<resultMap id="diningtableResult" type="Diningtable">
		<id property="id"  column="id" />
		<result property="available" column="available" />
		<association property="turnover"   javaType="Turnover" >
			<id property="id" column="turnover_id" />
			<result property="checkout" column="checkout" />
			<result property="tableId" column="id" />
		</association>
	</resultMap>


	<select id="selectTables" resultMap="diningtableResult">
		SELECT d.id, d.available, t.checkout, t.id AS turnover_id 
		FROM diningtable d LEFT JOIN
		  (
		  	SELECT tn.checkout, tn.id, tn.table_id  
		   	FROM turnover tn,
		    (
		     SELECT MAX(id) AS id 
		     FROM turnover 
		     GROUP BY table_id
		     ) tm 
		     WHERE tn.id = tm.id
		  ) t 
		  ON d.id = t.table_id 
	</select>

</mapper>