<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.ProductMapper">

	<cache />

	<select id="selectByCategoryId" parameterType="Product" resultType="Product">
		SELECT
			c.id, c.category_id, c.product_price, c.active, c.position,  c.thumb, 
			m.name, m.desc
		FROM
			product c LEFT JOIN multilang m 
				ON m.id = 'p'	+ c.id AND m.locale= #{locale}
		WHERE 
			c.category_id = #{categoryId}
	</select>

	<select id="selectById" parameterType="Product" resultType="Product">
		SELECT
			c.id, c.category_id, c.product_price, c.active, c.position,  c.thumb, 
			m.name, m.desc
		FROM
			product c LEFT JOIN multilang m 
				ON m.id = 'p'	+ c.id AND m.locale= #{locale}
		WHERE 
			c.id = #{id}
	</select>

	<select id="selectAll"  parameterType="String" resultType="Product">
		SELECT
			c.id, c.category_id, c.product_price, c.active, c.position,  c.thumb, 
			m.name, m.desc
		FROM
			product c LEFT JOIN multilang m 
				ON m.id = 'p'	+ c.id AND m.locale= #{locale}
	</select>

</mapper>