<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.TurnoverMapper">

  <insert id="insertTurnover" parameterType="Turnover" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO turnover
      (table_id, checkout)
    VALUES
      (#{tableId}, #{checkout})
  </insert>
  
  <update id="checkout"  parameterType="int">
      update turnover
      set checkout=true
      where id=#{id}
  </update>
  
   <update id="changeTable"  parameterType="Turnover">
      update turnover
      set table_id=#{tableId}
      where id=#{id}
  </update>

</mapper>