<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.TurnoverMapper">

	<insert id="insert" parameterType="Turnover" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO turnover
		(table_id, checkout, first_table_id,
		discount)
		VALUES
		(#{tableId}, #{checkout}, #{firstTableId}, #{discount})
	</insert>

	<update id="update" parameterType="Turnover">
		UPDATE turnover
		SET
		table_id=#{tableId}, discount=#{discount}, checkout=#{checkout},
		updated=now()
		WHERE id=#{id}
	</update>

	<select id="select" parameterType="Turnover" resultType="Turnover">
		SELECT
		id, table_id, discount, checkout
		FROM turnover
		WHERE id=#{id}
	</select>

</mapper>