<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.betalife.sushibuffet.dao.TurnoversMapper">

  <cache />

  <insert id="insertTurnovers" parameterType="Turnovers" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO turnovers
      (table_id, customer_count)
    VALUES
      (#{tableId}, #{customerCount})
  </insert>

</mapper>